APP_URL=
APP_PORT=
PUBLIC_BASE_URL=
SHEET_ACTION_TTL_SECONDS=900

WAHA_BASE_URL=
WAHA_API_KEY=

BOT_PREFIX=

DEBUG=

GEMINI_KEY=
GEMINI_MODEL=
GOOGLE_SERVICE_CLIENT_CRED_PATH=
GOOGLE_SERVICE_CLIENT_EMAIL=

DATABASE_URL=postgresql+asyncpg://
